body {
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  font-weight: lighter;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
  display: none;
  margin: 0 auto;
  background-color: #CDC08C;
}
header img {
  margin: 10px 0px;
}
nav {
  height: 60px;
  margin: 0 auto;
  display: table;
}
nav a {
  text-transform: uppercase;
  text-decoration: none;
}
nav ul {
  margin: 10px 0 0;
  padding-left: 30px;
  display: inline-block;
}
nav li {
  display: inline-block;
  margin: 0px 15px;
}
section {
  background-size: cover;
  color: #000;
  padding: 4rem 0rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
h2 {
  text-transform: uppercase;
  font-size: 24px;
}
iframe {
  margin: 0 auto;
  display: block;
}
a {
  color: #000;
}
a:hover {
  color: #E4E4E4;
}
#board {
  width: 300px;
  margin: 20px auto;
}
#logo {
  max-height: 30px;
  float: left;
}
.title-text {
  padding: 10px;
  background: rgba(200, 200, 200, 0.5);
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.title-text a {
  color: black;
}
#schedule-text {
  display: block;
  margin: 0 auto;
}
.button {
  margin: 20px auto;
  display: table;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 17px;
}
#view-calendar {
  width: 300px;
}
.intro {
  background: url('../img/intro-bg.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#schedule {
  background-color: #eee;
  text-align: center;
}
#dates {
  padding-top: 2rem;
  padding-bottom: 21rem;
}
#register {
  background-color: #ddd;
}
#about {
  background-color: #eee;
}
#contact {
  background-color: #ddd;
  padding-bottom: 0rem;
  text-align: center;
}
.active {
  color: #E4E4E4;
}
.tabs-nav ul {
  list-style: none;
  display: table;
  margin: 0 auto;
}
.tabs-nav li {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}
.tabs-nav .current {
  font-weight: bold;
  text-decoration: underline;
  font-size: 26px;
}
.tabs-content {
  padding-top: 20px;
}
#history,
#mission,
#awards {
  display: none;
}
.section-title img {
  height: 30px;
  margin: 0 auto;
  display: block;
  padding: 30px;
}
#membership-form {
  display: none;
  font-size: 16px;
}
#membership-form #paypal-button {
  margin: 0 auto;
  display: block;
}
#membership-form td {
  border-bottom: none;
  padding: 0px;
}
/* Bigger than 750 */
@media (min-width: 750px) {
  .title-text {
    padding: 40px;
  }
  .tabs-nav li {
    display: inline-block;
    margin: 0px 15px;
  }
  .intro {
    padding: 18rem 0rem;
  }
  #schedule-text {
    width: 70%;
  }
  header {
    display: block;
  }
}
/* Bigger than 1000 */
@media (min-width: 1000px) {
  .intro {
    padding: 24rem 0rem;
  }
  header {
    display: block;
  }
}
